# Talismane .gitignore
*/.classpath
*/.project
*/.settings/
*/bin/
*/build/
*/doc/
dist/
distTerminology/
.settings
.project
talismane_utils/target
talismane_core/target
talismane_machine_learning/target
